#root {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 0 10px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

/* Episode card container */
.episode-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 30%; /* Three per row with space in between */
  min-width: 250px;
  box-sizing: border-box;
  padding: 15px;
}

#search-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;         
  flex-wrap: wrap;                         
  box-sizing: border-box;
  max-width: 1120px;                       
  margin: 0 auto 30px auto;                
  padding: 10px 20px;                      
  gap: 20px;                               
}

#searchEpisodes, #selectEpisode {
  padding: 5px;
  font-size: 1rem;
  flex: 1;
  min-width: 200px;
}
